-r requirements.txt

bpython==0.21
flake8==5.0.4
responses==0.12.1
selenium==3.141.0
termgraph==0.4.2
filelock==3.0.12
aioresponses==0.7.2

pytest==6.2.5
pytest-cov==2.10.1
pytest-pythonpath==0.7.3
pytest-sugar==0.9.4
pytest-xdist==2.2.1
